<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.gmail.tests.SignInTest" />
			<!-- <class name="com.gmail.test.Automation.ComposeEmailTest"/> -->
		</classes>
	</test> <!-- Test -->
	<!-- <listeners>
		<listener class-name="atu.testng.reports.listeners.ATUReportsListener"></listener>
		<listener class-name="atu.testng.reports.listeners.ConfigurationListener"></listener>
		<listener class-name="atu.testng.reports.listeners.MethodListener"></listener>
	</listeners> -->
</suite> <!-- Suite -->
